extends layout

block content
	div.contenedorprincipal
		header
			h1 #{title}
		section
			div.contenedorinfo
				div.info
					h1 Aqui va la informacion importante
					p 
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et accumsan elit. Nam consequat ac lectus vitae gravida. Phasellus vitae mattis justo. Nullam luctus lacus velit, vitae feugiat nulla ultricies sed. Nullam blandit ipsum in augue molestie lobortis. Nullam vulputate mattis tempor. Ut quis sapien vitae mauris rutrum dictum vel et arcu. Morbi lobortis arcu eget elit pharetra, ac sagittis nunc aliquam. Nunc id venenatis justo. Donec ut nisl rhoncus, consequat lectus non, vestibulum arcu. Nulla non facilisis metus, eu laoreet neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at sapien nulla. Maecenas accumsan nulla et sapien tincidunt iaculis.
					p
						|	Praesent interdum, mauris et accumsan pellentesque, orci risus adipiscing justo, sed dapibus nisi diam eget eros. In dapibus porta facilisis. Mauris ornare mattis accumsan. Nunc tincidunt luctus augue, pretium tincidunt purus tincidunt sed. Sed vitae purus ut erat ultrices rhoncus nec at ipsum. Proin et urna sed ante dapibus volutpat. Cras egestas faucibus nisl, in euismod urna fermentum ac. Aenean mattis augue nunc, ut porttitor ligula laoreet non. Praesent tempor vel metus ac pretium. Proin hendrerit nisl non risus lacinia, id gravida ligula dictum. Sed consectetur vehicula dignissim. Morbi eu placerat nisi, eu mollis ante.
			div.contenedorsidebar
				div#sidebar
					h1 Titulo sidebar
					p 
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et accumsan elit. Nam consequat ac lectus vitae gravida. Phasellus vitae mattis justo. Nullam luctus lacus velit, vitae feugiat nulla ultricies sed.
		footer
			div.contenedorpie
				p 
					| todos los derechos reservados